@media screen and (max-width: 1280px) {
    .auth__inner {
        padding: 100px 0;
    }

    .auth__form {
        margin-top: 80px;
    }

    .instruction__inner {
        padding: 84px 0;
    }

    .registration__inner {
        padding: 80px 0;
    }

    .registration__title {
        margin-bottom: 60px;
    }

    .page__title {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .page__inner {
        padding-bottom: 80px;
    }

    .medical-institutions__block__body {
        grid-template-columns: repeat(2, 1fr);
    }

    .medical-institutions__item {
        min-height: 324px;
    }
}

@media screen and (max-width: 992px) {
    .menu__inner {
        padding: 64px 0;
    }

    .menu__navigation__title {
        margin-bottom: 48px;
    }

    .auth__inner {
        padding: 50px 0;
        grid-template-columns: 1fr;
    }

    .auth__form {
        margin-top: 40px;
    }

    .auth__slider {
        display: none;
    }

    .instruction__inner {
        padding: 72px 0;
    }

    .instruction__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__inner {
        flex-direction: column;
        gap: 24px;
    }

    .registration__inner {
        padding: 60px 0;
    }

    .registration__title {
        margin-bottom: 40px;
    }

    .page__body {
        grid-template-columns: 1fr;
    }

    .page__inner {
        padding-bottom: 60px;
    }

    .page__title {
        padding: 48px 0;
    }

    .page__sidebar {
        display: none;
    }

    .page__content {
        padding: 0;
        border-left: 0;
    }

    .medical-institutions__block__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .medical-institutions__item__button {
        pointer-events: auto;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: auto;
    }

    .medical-institutions__item__text {
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
        max-height: max-content;
        max-height: max-content;
        overflow: visible;
        display: -webkit-box;
        -webkit-line-clamp: initial;
        -webkit-box-orient: vertical;
    }

    .medical-institutions__item:hover {
        pointer-events: none;
    }

    .medical-institutions__item:hover .medical-institutions__item__image {
        display: block;
        background-color: #c9e2ff;
    }

    .medical-institutions__item:hover .medical-institutions__item__text {
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
    }

    .medical-institutions__item:hover .medical-institutions__item__button {
        display: block;
    }

    .medical-institutions__item:hover {
        background-color: inherit;
    }
}

@media screen and (max-width: 810px) {
    .medical-institutions__block__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
        font-size: var(--xl-tablet);
    }

    .subtitle {
        text-align: center;
    }

    .menu__inner {
        padding: 36px 0;
        grid-template-columns: 1fr;
        grid-gap: 48px;
    }

    .menu__contacts__title,
    .menu__navigation__title {
        text-align: left;
        margin-bottom: 24px;
    }

    .auth__text {
        margin-top: 36px;
    }

    .instruction__title {
        margin-bottom: 48px;
    }

    .instruction__content {
        grid-template-columns: 1fr;
    }

    .footer__list {
        flex-direction: column;
        gap: 12px;
    }

    .registration__inner {
        padding: 48px 0;
    }

    .registration__title {
        margin-bottom: 36px;
    }

    .registration__subtitle {
        margin-bottom: 32px;
    }

    .registration__button {
        width: 100%;
        font-size: var(--m);
    }

    .page__inner {
        padding-bottom: 48px;
    }

    .page__title {
        padding: 36px 0;
    }

    .personal-data__inputs {
        grid-template-columns: 1fr;
    }

    .personal-data__button {
        width: 100%;
    }

    .extracts__items {
        margin: 36px 0;
    }

    .medical-institution__subtitle {
        text-align: center;
    }

    .medical-institution__content {
        margin-top: 36px;
    }

    .medical-institution__content p:not(:last-child) {
        margin-bottom: 18px;
    }

    .appointment__header {
        margin-bottom: 48px;
    }

    .appointment__breadcrumbs {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .appointment__button-select {
        text-align: center;
    }

    .appointment-date__button {
        width: 100%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 640px) {
    .medical-institutions__block__head {
        flex-direction: column;
        gap: 20px;
    }

    .medical-institutions__block__head__button {
        width: 100%;
    }

    .medical-institutions__block__body {
        grid-template-columns: repeat(1, 1fr);
    }

    .medical-institutions__item__title {
        text-align: center;
        font-size: var(--l);
    }
}

@media screen and (max-width: 540px) {
    .extract__item {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: var(--xl-mobile);
    }

    .header__phone {
        display: none;
    }

    .menu__inner {
        padding: 24px 0;
        grid-gap: 36px;
    }

    .menu li a,
    .menu li,
    .menu span {
        font-size: var(--m);
    }

    .menu__contacts__item:not(:last-child) {
        align-items: center;
    }

    .menu__contacts__title,
    .menu__navigation__title {
        margin-bottom: 18px;
    }

    .menu__navigation__list {
        gap: 12px;
    }

    .auth__form__input:nth-child(2) {
        margin-top: 12px;
    }

    .auth__form__buttons {
        flex-direction: column;
        gap: 12px;
    }

    .auth__form__button {
        width: 100%;
    }

    .instruction__inner {
        padding: 64px 0;
    }

    .instruction__title {
        margin-bottom: 36px;
    }

    .registration__inner {
        padding: 30px 0;
    }

    .registration__title {
        margin-bottom: 24px;
    }

    .registration__input {
        margin-bottom: 24px;
    }

    .registration__input label {
        margin-bottom: 12px;
    }

    .registration__account {
        margin-bottom: 16px;
    }

    .registration__personal-data {
        margin-bottom: 24px;
        font-size: var(--s);
    }

    .page__inner {
        padding-bottom: 32px;
    }

    .page__title {
        padding: 32px 0;
    }

    .extracts__items {
        margin: 24px 0;
    }
    .extracts__button {
        width: 100%;
    }

    .medical-institution__content {
        margin-top: 24px;
    }

    .appointment__header {
        margin-bottom: 32px;
    }

    .appointment-date__button {
        margin-top: 32px;
    }

    .appointment-confirmation__buttons {
        flex-direction: column;
        gap: 10px;
    }

    .appointment-confirmation__confirm-button,
    .appointment-confirmation__close {
        width: 100%;
    }

    .appointment-modal__buttons {
        flex-direction: column;
    }

    .appointment-modal__button {
        width: 100%;
    }
}
